<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title></title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
		<link rel="stylesheet" href="styles/bootstrap.css"/>
        <link rel="stylesheet" href="styles/main.css"/>

    </head>
    <body ng-app="BacharuApp" ng-controller="MainCtrl">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" onclick="document.location = '/';" href="#" style="padding-left:30px;">Bacharu</a>
		</div>
	</div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        <!--[if lt IE 9]>
            <script src="scripts/vendor/es5-shim.min.js"></script>
            <script src="scripts/vendor/json3.min.js"></script>
        <![endif]-->
        <!-- Add your site or application content here -->

        <div class="container" ng-view></div>

        <script src="/components/angular/angular.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script type="text/javascript">
		function toggleMenu(){
			if($('.mainmenu-container').hasClass('mainmenu-container-open')){
				$('.mainmenu-container').removeClass('mainmenu-container-open');
				$('.menuhandle-container').removeClass('menuhandle-container-up');
				$('body').css('padding-bottom','0px');
			}
			else{
				$('.mainmenu-container').addClass('mainmenu-container-open');
				$('.menuhandle-container').addClass('menuhandle-container-up');
				$('body').css('padding-bottom','200px');
			}
		}
		</script>

        <!-- build:js scripts/scripts.js -->
        <script src="/scripts/app.js"></script>
        <script src="/scripts/controllers/main.js"></script>
        <script src="/scripts/controllers/acmpolicy.js"></script>
        <script src="/scripts/controllers/console.js"></script>
        <script src="/scripts/controllers/crashdump.js"></script>
        <script src="/scripts/controllers/debug.js"></script>
        <script src="/scripts/controllers/dpci.js"></script>
        <script src="/scripts/controllers/event.js"></script>
        <script src="/scripts/controllers/host.js"></script>
        <script src="/scripts/controllers/hostcpu.js"></script>
        <script src="/scripts/controllers/hostmetrics.js"></script>
        <script src="/scripts/controllers/network.js"></script>
        <script src="/scripts/controllers/pbd.js"></script>
        <script src="/scripts/controllers/pif.js"></script>
        <script src="/scripts/controllers/pifmetrics.js"></script>
        <script src="/scripts/controllers/ppci.js"></script>
        <script src="/scripts/controllers/sr.js"></script>
        <script src="/scripts/controllers/task.js"></script>
        <script src="/scripts/controllers/user.js"></script>
        <script src="/scripts/controllers/vbd.js"></script>
        <script src="/scripts/controllers/vbdmetrics.js"></script>
        <script src="/scripts/controllers/vdi.js"></script>
        <script src="/scripts/controllers/vif.js"></script>
        <script src="/scripts/controllers/vifmetrics.js"></script>
        <script src="/scripts/controllers/vm.js"></script>
        <script src="/scripts/controllers/vmguestmetrics.js"></script>
        <script src="/scripts/controllers/vmmetrics.js"></script>
        <script src="/scripts/controllers/vtpm.js"></script>
        <script src="/scripts/controllers/xspolicy.js"></script>
        <!-- endbuild -->


		<div class="menuhandle-container">
			<a onclick="toggleMenu()" class="menuhandle">menu</a>
		</div>
		<div class="mainmenu-container">
			<div class="links">
				<li ng-repeat="(key,value) in links" class="link"><img ng-src="/img/bacharu-icons/16x16/{{ '{{' }}value{{ '}}' }}.png" /><a href="/{{ '{{' }}value | lowercase{{ '}}' }}/">{{ '{{' }}value{{ '}}' }}</a></li>
			</div>
		</div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
